
/*for counter stuff */
/*html, body { width: 100%; height: 100%; margin: 0; padding: 0; }
#jspsych-target { width: 100%; height: 100%;}*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.required{
    display: none;
}

.main_div{
    width: auto;
    height: 100%;
    margin:0 auto;
}

.mybutton{
    background: blue; 
    border: none; 
    color: white; 
    padding: 10px 28px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer;
    border-radius: 20px; 
    border: 4px solid transparent;
    position: relative;
    left: 75%;
}

/*
.jspsych-content{
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 50%; 
    height: 50%; 
}
*/

.jspsych-content {
    position:absolute;
    top: 20%;
    width: 100%;
    height: 100%;
}


#jspsych-html-keyboard-response-stimulus{
    height: inherit;
    width: inherit;
}

.main_div {
    position: inherit;
    width: inherit;
    height:inherit;
    transform: inherit;
    left: inherit;
    top: inherit
}



.jspsych-survey-multi-choice-option {
    display: flex; /* Use Flexbox */
    flex-direction: row; /* Arrange children in a row */
}

.jspsych-survey-multi-choice-text {
    order: 1; /* Make the label appear after the input */
    padding-left: 10px;
}





.left_stim{
    position: absolute;
    top: 15%;
    left: 25%;
}

.right_stim{
    position: absolute;
    right: 25%;
    top: 15%;}

.central_stim{
    height: 20vh;
    width:10vw}


.button_choice, #left_button, #right_button {
    background-color: #e7e7e7;
    color: black;
    border-radius: 15px;
    padding: 10px 25px;
    text-align: center;
    box-shadow: 0 9px #999;
    border: none;
    font-size: 16px;
    cursor: pointer;
    }


#left_button{
    position: absolute;
    bottom: 32%;
    left: 30%;
}

#right_button{
    position: absolute;
    bottom: 32%;
    right: 30%;
}


/* Slider stuff */


   #customTick2 {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}



.slider_tick_container {
    position: absolute;
    bottom: 40%;
    left: 20%;
}



#customSlider2 {
    width: 500px; /* adjust as needed */
    height: auto; /* Keeps the aspect ratio */
    position: absolute;
  }  

  .rightTdVas{
    /* white-space: nowrap; */
    font-size: 75%;
    line-height: 1em;
    position: absolute;
    bottom:20%;
    right:20%;
    }

    .leftTdVas{
        /* white-space: nowrap; */
        font-size: 75%;
        line-height: 1em;
        position: absolute;
        bottom:20%;
        left:18%;
        }

#mySlider5_value{
    position: absolute;
    bottom: 25%;
    left: 47.5%;
    }

#jspsych-html-slider-response-next{
    position: absolute;
    bottom: 10%;
    left: 44%;
}